# Core
fastapi
uvicorn[standard]
python-decouple
python-multipart

# Database
sqlalchemy
asyncpg
alembic
psycopg2-binary

# Authentication & Security
python-jose[cryptography]
passlib
bcrypt

# Validation
pydantic
pydantic[email]
email-validator

# File Handling
aiofiles
boto3

# Email
fastapi-mail

# WebSocket / Async
websockets
redis
celery

# Testing
pytest
pytest-asyncio
httpx
factory-boy
faker

# Utilities
python-slugify
Pillow==12.3.0
